@font-face{
  font-family: SourceHanSansSC-Bold;
  src: url('../../font/SourceHanSansCN-Bold.otf');
}
@font-face{
  font-family: SourceHanSansSC-Regular;
  src: url('../../font/SourceHanSansSC-Regular.otf');
}
@font-face{
  font-family: FF-DIN-Round-Pro-Bold;
  src: url('../../font/FF-DIN-Round-Pro-Bold.otf');
}
/*@font-face{*/
  /*font-family: FF-DIN-Round-Pro-Bold;*/
  /*src: url('../../font/FF-DIN-Round-Pro-Bold.otf');*/
/*}*/
/*@font-face{*/
  /*font-family: FF-DIN-Round-Pro-Medium;*/
  /*src: url('../../font/FF-DIN-Round-Pro-Medium.otf');*/
/*}*/
/*@font-face{*/
  /*font-family: FF-DIN-Pro-Cond-Bold;*/
  /*src: url('../../font/FF-DIN-Pro-Cond-Bold.otf');*/
/*}*/
